body{
    font-family: 'Otomanopee One', sans-serif;
}
h1{
    font-size:40px ;
}
.organce-color{
    color: coral;
}
.productnow{
    color: goldenrod;
}
section{
    display: flex;
}
.half{
    width: 50%;
}
.half img
{
    width: 100%;
}