body{
    font-family: 'Otomanopee One', sans-serif;
}
.background{
    background-image: url(../mk-portfolio/image/Background.png);
    background-repeat: no-repeat;
    display: flex;
    }
 .only-flex{
     display: flex;
 }   
.paragraph{
    text-align: justify;
    
}
h1{
    font-size:40px ;
}
.organce-color{
    color: coral;
}
.productnow{
    color: goldenrod;
}
.felexi-sec{
    display: flex;
    background-image: url(../mk-portfolio/image/bg.png);
    background-repeat:repeat-x ;
}
.half{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    background-color: rgba(232, 235, 238, 0.849);
    border-radius: 5%;
    padding-bottom: 2%;

    
}
.half img
{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(orange,red);
    padding: 10px 20px;
    border-radius: 5px;
    
}
.facebook{
    color: royalblue;
}
.top-image{
    padding-top: 20px;
}
.headertext{
    text-align: center;
}
.fb-image{
    padding-top: 100px;
}
.one-third{
           width:33%;
           padding:10px;

}
.box-shadow{
    width: 30%;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 5px;
    border-radius: 10px;

    box-shadow: 10px 10px 50px grey;
}

.twitter{
    color: rgb(62, 157, 245);
}
.youtube{
    color: rgba(255, 0, 0, 0.781);
}

.insta{
    color: orangered;
}

#tw-br{
    border-left: 8px solid;
    border-color: rgb(61, 132, 238);
    border-image-slice: 1;
}
#yt-br{
    border-left: 8px solid;
    border-image: linear-gradient(red,orange);
    border-image-slice: 1;
}

#ins-br{
    border-left: 8px solid;
    border-color: rgb(240, 130, 4);
    border-image-slice: 1;
}

footer p {
    text-align: center;
    background-color: slategrey;
}

.felexi2-sec{
    display: flex;
    
}
#ftt{
    text-align: center;
}